In [1]:
%load_ext autoreload
%autoreload 2

## Read Google GIS token from browser IndexedDB

**WARNING**: 
+ JupyterLite: Automatic token data read from IDB
+ Else: Use extension 'copy token' button and paste in notebook

In [2]:
import jlite_util as m

In [3]:
ga = m.GoogleAuth()
data = await ga.get_data()
if not data:
    print('missing token')
else:
    token = data['access_token']

not on jupyterlite: manually copy token
missing token

In [5]:
token = 'manual-paste-abcdef...'
token = 'ya29.a0AbVbY6NG0hWBxBpiALnEehbYYLFGllwiqZmWMtAFOVRvMXC_z1cbR6N13L8oh389W0XUBNpOWbmIu_l-u4Dh-7uBU2LmEBYv-QQxCsuXZRaW5EYF9aeNglocSygNMV1Xm9upzVklZ5GEH_NMQnt4Vnm9gIY3eAaCgYKAaUSARMSFQFWKvPlw62Fb9mWO-BjM--tIAM3kw0165'
print(token)

ya29.a0AbVbY6NG0hWBxBpiALnEehbYYLFGllwiqZmWMtAFOVRvMXC_z1cbR6N13L8oh389W0XUBNpOWbmIu_l-u4Dh-7uBU2LmEBYv-QQxCsuXZRaW5EYF9aeNglocSygNMV1Xm9upzVklZ5GEH_NMQnt4Vnm9gIY3eAaCgYKAaUSARMSFQFWKvPlw62Fb9mWO-BjM--tIAM3kw0165

In [6]:
import requests as rq
import pandas as pd
from urllib.parse import quote

## Prerequisite

+ Enable API Google Sheets API
+ Ref https://developers.google.com/sheets/api/reference/rest

In [7]:
sheet_id = '1r8BmSUWDKbNhSl5kTR76s69AmG0ZM_pWD4n88DIx7nU'
sheet_name = 'toto'
headers = {'authorization': f'Bearer {token}'}

gui_url = f'https://docs.google.com/spreadsheets/d/{sheet_id}'
print(f'sheet url: {gui_url}')

sheet url: https://docs.google.com/spreadsheets/d/1r8BmSUWDKbNhSl5kTR76s69AmG0ZM_pWD4n88DIx7nU

In [8]:
method = 'GET'
api_url = f'https://sheets.googleapis.com/v4/spreadsheets/{sheet_id}/values/{sheet_name}'
params = {
    'majorDimension': 'ROWS',
    'dateTimeRenderOption': 'FORMATTED_STRING',
}

r = rq.request(method, api_url, headers=headers, params=params) 
print(r)
res = r.json()

<Response [200]>

In [13]:
res

{'range': 'toto!A1:Z1000',
 'majorDimension': 'ROWS',
 'values': [['dt', 'b', 'c'],
  ['2023-01-02', '1', '2'],
  ['2024-10-20', '4', '5'],
  ['2023-05-19', '331', '44'],
  ['2024-05-20', '331', '441'],
  ['2023-05-19', '3331', '44']]}

In [9]:
data = res['values']
df = pd.DataFrame(data=data[1:], columns=data[0])
df

           dt     b    c
0  2023-01-02     1    2
1  2024-10-20     4    5
2  2023-05-19   331   44
3  2024-05-20   331  441
4  2023-05-19  3331   44

In [10]:
n = len(df)
n

5

In [11]:
method = 'PUT'

sheet_range = f'{n+2}:{n+2}'
update_loc = f'{sheet_name}!{sheet_range}'
loc = quote(update_loc)
url = f'https://sheets.googleapis.com/v4/spreadsheets/{sheet_id}/values/{loc}'

params = {
    'responseDateTimeRenderOption': 'FORMATTED_STRING',
    'valueInputOption': 'USER_ENTERED',
    'includeValuesInResponse': True
}

data = {
    "values":[
        ["2025-05-20","131","551"]
    ],
    "majorDimension":"ROWS"
}
r = rq.request(method, url, headers=headers, params=params, json=data) 
print(r)
res = r.json()

<Response [200]>

In [12]:
res

{'spreadsheetId': '1r8BmSUWDKbNhSl5kTR76s69AmG0ZM_pWD4n88DIx7nU',
 'updatedRange': 'toto!A7:C7',
 'updatedRows': 1,
 'updatedColumns': 3,
 'updatedCells': 3,
 'updatedData': {'range': 'toto!A7:Z7',
  'majorDimension': 'ROWS',
  'values': [['2025-05-20', '131', '551']]}}